# Global configurations
global
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
    tune.ssl.default-dh-param 2048 # required parameter for SSL bumping

# Default settings
defaults
    log     global
	mode    http # tcp can be used if you don't want to do SSL bumping
    option  httplog # tcplog can be used if you don't want to do SSL bumping
	option  dontlognull
    timeout connect  5000
	timeout client  10000
    timeout server  10000

frontend balancer
    bind *:80
    bind *:443 ssl crt /etc/ssl/all.pem alpn h2,http/1.1
    
    redirect scheme https code 301 if !{ ssl_fc }
    default_backend node

backend node
    option forwardfor
    balance roundrobin
    server host.docker.internal host.docker.internal:3005 check
